@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title</h2>

<br />

<h4>Currency Exchanger is an interview assignment project developed by Ahmad Alhour.</h4>

<h4>You can contact me at: <a href="http://aalhour.github.io" target="_blank">aalhour.github.io</a></h4>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#about-tab').addClass("active");
        });
    </script>
}